@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind 3.x-д body-д apply ажиллах ёстой */
body {
  font-family: 'Inter', sans-serif; /* @apply font-sans-ийг шууд ашиглах боломжгүй үед */
  background-color: #f3f4f6; /* Tailwind bg-gray-100 */
}
